body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 1rem;
}

.nav {
    margin: 1rem;
    padding: 1rem;
    width: 400px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    left: -350px;
    transition: all 0.5s ease-in-out;
}

.nav:hover {
    left: 0;
}

#nav1 {
    background-color: #15803d; 
    top: 4rem;
}

#nav2 {
    background-color: #1d4ed8; 
    top: 8rem;
}

#nav3 {
    background-color: #b91c1c; 
    top: 12rem;
}

#nav4 {
    background-color: #374151; 
    top: 16rem;
}
